*{
    margin: 0px;
    padding: 0px;
}


.attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 5rem;
    background-color: #f3e9e3;
}

header{
    margin-top: 30px;
}

.contenaire{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .left-1{
   border-radius: 20px 0px 0px 20px;
}

.right{
    margin-bottom: 0.2em;
    background-color: #fffefe;
    height: 420px;
    width: 210px;
    padding:0px 3em;
}

.Nom h3{
    color: #c7c6c6;
    padding: 2em 0px;
}

.Gabrielle h1{
    padding: 0 0px 1em 0px;
    color: rgba(31,35,39,255);
    font-size: 25px;
}
.description p{
    padding: 0 0px 1em 0px;
    color: #9f9fa8;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.Price{
    display: flex;
    padding-bottom: 3em;
}

.Price .Price-left h1{
    color: #4b7968;
}

.Price .Price-right{
    color: #acacb3;
    font-size: 0.5rem;
    padding: 0.7rem 0px 0px 3.5rem;
    text-decoration: line-through;
}

.buttun{
    background-color: #3e8065;
    border-radius: 10px;
    height: 3em;
    width: 14em;
}

.content{
    display: flex;
    padding: 15px 55px;
}

.content .icon i{
    color: #adcabc;
}

.content .add a{
    padding-left: 0.5em;
    text-decoration: none;
    color: #adcabc;
}

.left-2{
    display: none;
}

@media all and (max-width: 621px) {
    .contenaire{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .left .left-1{
        display: none;
    }

    .left-2{
       display: block;
       margin: 0px auto;
       width: 25em;
    }

    .right{
    width: 100%;
    width: 19em;
    }
}